/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Base font size */
  font-family: Arial, sans-serif;
}

/* Body and Global Styles */
body {
  line-height: 1.6;
  background-color: hsl(24, 64%, 60%);
  color: #f4f4f4; /* Lighter text color */
}

/* Navigation */
nav {
  display: flex;
  justify-content: center; /* Centers the navigation items horizontally */
  align-items: center;     /* Centers the navigation items vertically */
  background-color: #eeb97b; /* Dark background for nav */
  padding: 20px;
  margin: 0px 0;

}

nav a {
  color: #f4f4f4; /* Set the link color to a visible color */
  text-decoration: none;
  padding: 10px 20px;
  margin: 20px; /* Space between links */
  border: 2px solid #f2d4b3; /* Border for each link */
 
  background-color: #f2d4b3; /* Dark background for each link box */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}
nav a:hover {
  background-color: #f2d4b3; /* Hover background color */
  color: #eeb97b; /* Text color on hover */
}

/* Header Styles */
header {
  background-color: #5c4c4c; /* Darker header background */
  color: #f2d4b3; /* Lighter text color */
  padding: 20px;
  text-align: center;
  border-bottom: 4px solid #274C77;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

/* Main Content */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f2d4b3; /* Slightly transparent dark background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #000000;
}

/* Project Section */
.project-class {
  background-color: #A3CEF1; /* Dark background for projects */
  padding: 20px;
  margin-top: 0px;
}

.project-class h1 {
  font-size: 2rem;
  color: #000000;
}

.project-class ul {
  list-style-type: none;
}

.project-class li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.project-class a {
  display: flex;
  text-decoration: none;
  color: #f4f4f4;
}

.project-class .project-image {
  width: 50px; /* keeps it square */
  height: 50px; /* keeps it square */
  margin-right: 15px;
  object-fit: cover; /* ensures the image fills the square without stretching */
}


.project-class a:hover {
  color: #f4f4f4;
  text-decoration: underline;
}

/* Footer Styles */
footer {
  background-color: #8B8C89; /* Dark footer background */
  color: #000000;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 4px solid #333;
}

footer p {
  font-size: 1rem;
}

/* Links */
a {
  color: #ffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Contact Form */
#contact-form {
  max-width: 600px;
  margin: 40px auto;
  background-color: #A3CEF1; /* Light blue background for the form */
  padding: 20px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #72c7f8; /* Light border */

  background-color: #ffffff; /* White background for inputs */
  color: #274C77;
  font-size: 1rem;
}

#contact-form button {
  padding: 10px 20px;
  background-color: #274C77; /* Button background */
  color: #ffffff;
  border: none;
 
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact-form button:hover {
  background-color: #6096BA; /* Button hover effect */
}

/* Spinner and Response Message */
#spinner {
  display: none;
  text-align: center;
  color: #274C77;
  font-size: 1.5rem;
}

#response-message {
  display: none;
  text-align: center;
  font-size: 1.2rem;
  color: #274C77;
  background-color: #A3CEF1;
  padding: 10px;
 
}

#response-message.success {
  background-color: #00bcd4; /* Success message background */
}

#response-message.error {
  background-color: #ff5722; /* Error message background */
}