--
title: "Home"
layout: layouts/default.njk
permalink: "/index.html"
---

<div class="devarsh-details">
  <h1>{{ devarsh.title }}</h1>

  {% if devarsh.image %}
    <img src="{{ devarsh.image }}" alt="{{ devarsh.title }}" class="devarsh-image">
  {% endif %}

  <div class="devarsh-description">
    {{ devarsh.description | safe }}
  </div>
</div>
